<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{.Site.BaseURL}}/js/highlight/styles/tomorrow-night-blue.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{.Site.BaseURL}}/main.css" />
    <script src="{{.Site.BaseURL}}/main.js"></script>
    <script src="{{.Site.BaseURL}}/js/highlight/highlight.pack.js"></script>
</head>
<body>
    {{ partial "menu.html" . }}
    <div id="Site-Title"><h1>{{ .Site.Title }}</h1></div>
    <!-- <h3>this is the base of template</h3> -->
    <hr />
    {{ block "main" . }}
    {{ end }}
</body>
</html>