{{ define "main" }}

this is the list page template
    <div class="section-list">
        {{ range sort .Sections ".Params.chapter"}}
            <div class="section-list-item"><a href="{{.URL}}"> {{.Title}}  {{.Params.chapter}}</a></div>
        {{ end }}
    </div>
    {{.Content}}
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .URL }}"> {{ .Title }} Lesson: {{.Params.lesson}} / chapter: {{.Params.chapter}}</a>
        </li>
        {{ end }}
    </ul>
    
    <br />

{{end}}