{{ define "main" }}

<!-- this is the list page template -->
    {{ if not (.Params.root) }}
    {{ if .Sections }}
    <div class="section-list">
        {{ range sort .Sections ".Params.chapter"}}
            <div class="section-list-item">Chapter: {{.Params.chapter}} <a href="{{.URL}}"> {{.Title}}</a></div>
        {{ end }}
    </div>
    {{end}}
    {{.Content}}
    {{ if .Pages }}
    <h3>Chapter: {{.Params.chapter}}</h3>
    <ul>
        {{ range sort .Pages ".Params.lesson"}}
        <li>
            <a href="{{ .URL }}"> {{ .Title }} Lesson: {{.Params.lesson}} </a>
        </li>
        {{ end }}
    </ul>
    {{end}}
    
    <br />
{{else}}
    {{.Content}}
{{end}}

{{end}}